GestionProductos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GestionProductos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="categoria" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="nombre">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="20"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              
              <xs:element name="productos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="producto" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="descripcion">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:maxLength value="50"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="precio" type="xs:decimal"/>
                          <xs:element name="stock" type="xs:integer"/>
                          <xs:element name="ano">
                            <xs:simpleType>
                              <xs:restriction base="xs:integer">
                                <xs:pattern value="[0-9]{4}"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:pattern value="[0-9]{5}"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:pattern value="[0-9]{5}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>